*{
    margin: 0;
    padding: 0;
}
.pink{
    background-color: pink;
    height: 50px;
    border: 1px solid black;
}
.skyblue{
    background-color:deepskyblue;
    height: 50px;
    border: 1px solid black;
}
.lightgreen{
    background-color: darkseagreen;
    height: 50px;
    border: 1px solid black;
}
.purple{
    background-color: purple;
    height: 50px;
    border: 1px solid black;  
}