* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url(hd6.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.login-create {
    position: absolute;
    top: 0;
    right: 0;
    height: 55px;
    width: 80%;
    margin: auto;
    text-align: right;
    line-height: 60px;
    padding-right: 150px;
}

.login {
    background-color: transparent;
    border: none;
    color: darkred;
    cursor: pointer;
}

.create {
    background-color: transparent;
    border: 1px solid darkred;
    padding: 10px;
    color: darkred;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.login:hover,
.create:hover {
    background-color: darkred;
    color: white;
}

.locations-box {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-right: 5px;
    font-size: 15px;
    border: 2px solid darkred;
    cursor: pointer;
}

.menu-text {
    margin-bottom: 30px;
    margin-left: 50px;
}

.head-text {
    font-weight: bold;
    color: darkred;
    font-size: 50px;
}

.sub-text {
    color: black;
    font-size: 30px;
}

.menu-outline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-box {
    width: 30%;
    margin-bottom: 40px;
    cursor: pointer;
}
.menu-box:hover{
    background-color:lightslategray;
}

.menu-img {
    height: 150px;
    width: 200px;
}

.menu-content {
    box-shadow: 0 1px 2px 0 black;
    height: 150px;
    position: relative;
}

.menu-head {
    top: 30px;
    left: 210px;
    position: absolute;
    color: darkred;
    font-size: 30px;
    font-weight: bold;
}

.menu-discription {
    position: absolute;
    top: 60px;
    left: 210px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    max-width: 190px;
}